.ourwhy2-container {
  height: 100vh;
  background-color: rgb(1, 1, 1);
  display: flex;
  position: relative;
  z-index: 1;
}
.ourwhy2-container h1 {
  font-weight: 300;
}
.ourwhy2-container h2 {
  font-weight: 500;
}

.ourwhy2-container .left-items1 {
  max-width: 100%;
}

.icons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 21px;
  min-width: 120px;
  margin-left: 22px;
}

.ourwhy2-container img {
  height: 100px;
}

.ourwhy2-text {
  margin-right: 22px;
}

.ourwhy2-bottom-text,
.ourwhy2-top-text {
  position: absolute;
  z-index: 1;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 95%;
}

.ourwhy2-top-text {
  top: 80px;
}

.ourwhy2-bottom-text {
  bottom: 80px;
}

.ourwhy2-left {
  background: url(../../assets/pharmaceuticalsNew.jpg) no-repeat scroll center
    top transparent;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-items1,
.left-items2,
.right-items1,
.right-items2 {
  align-items: center;
  z-index: 1;
  display: flex;
  margin: 48px 0;
  width: 100%;
  justify-content: start;
}

.ourwhy2-right {
  background: url(../../assets/biorectorsNew.jpg) no-repeat scroll center top
    transparent;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .ourwhy2-container h2 {
    font-size: 22px;
  }
  .ourwhy2-container h3 {
    font-size: 16px;
  }
  .ourwhy2-container h1 {
    font-size: 29px;
  }
  .ourwhy2-container img {
    height: 80px;
  }
  .icons {
    margin-right: 16px;
    min-width: 100px;
  }
}
@media screen and (max-height: 690px) {
  .ourwhy2-container h1 {
    font-size: 24px;
  }
  .ourwhy2-top-text {
    top: 30px;
  }

  .ourwhy2-bottom-text {
    bottom: 30px;
  }
}

@media only screen and (max-width: 710px) {
  .ourwhy2-container h2 {
    font-size: 18px;
  }
  .ourwhy2-container h3 {
    font-size: 14px;
  }
  .ourwhy2-container h1 {
    font-size: 24px;
  }
  .ourwhy2-container img {
    height: 60px;
  }
  .icons {
    margin-right: 10px;
    min-width: 80px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 510px) {
  .ourwhy2-container {
    flex-direction: column;
  }
  .ourwhy2-right,
  .ourwhy2-left {
    height: 50vh;
    width: 100vw;
    justify-content: space-between;
    padding: 24px;
  }
  .left-items1,
  .left-items2,
  .right-items1,
  .right-items2 {
    margin: 0;
  }
  .ourwhy2-bottom-text,
  .ourwhy2-top-text {
    position: unset;
    transform: unset;
  }
  .ourwhy2-container h1 {
    font-size: 20px;
  }
  .icons {
    margin-left: 0;
  }
  .ourwhy2-text {
    margin-right: 0;
  }
}
