.ourwhy2-container {
  height: 100vh;
  background-color: rgb(1, 1, 1);
  display: flex;
  position: relative;
  z-index: 1;
}

.icons {
  width: 120px;
  display: inline-block;
  text-align: center;
  margin-right: 21px;
}

.ourwhy2-container img {
  max-height: 100px;
}

.ourwhy2-bottom-text,
.ourwhy2-top-text {
  position: absolute;
  z-index: 1;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 95%;
}

.ourwhy2-top-text {
  top: 120px;
}

.ourwhy2-bottom-text {
  bottom: 120px;
}

.ourwhy2-left {
  background: url(../../assets/pharmaceuticals.png) no-repeat scroll center top
    transparent;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 48px;
  justify-content: center;
}

.left-items1,
.left-items2,
.right-items1,
.right-items2 {
  align-items: center;
  z-index: 1;
  display: flex;
  margin: 48px 0;
}

.ourwhy2-right {
  background: url(../../assets/biorectors.png) no-repeat scroll center top
    transparent;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 48px;
  justify-content: center;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
