.aboutus1-container {
  background-color: rgb(0, 0, 0);
  position: relative;
  background: url(../../assets/about3.png) no-repeat scroll center bottom
    transparent;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 32px; */
}

.aboutus1-container img {
  position: absolute;
}

#about .about1-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.left-side,
.right-side {
  height: 100vh;
  width: 50vw;
}

.left-side img {
  width: 600px;
  bottom: 0;
}
.right-side img {
  width: 600px;
  top: 0;
  right: 0;
}

.about1-h1 {
  position: absolute;
  z-index: 1;
  top: 80px;
  width: 700px;
  left: 32px;
}

/* .right-side {
  text-align: right;
  display: flex;
  align-items: start;
  height: 100vh;
  width: 100vw;
  justify-content: flex-end;
} */

.right-side p {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 32px;
  text-align: start;
  width: 800px;
  padding-bottom: 96px;
  font-size: 28px;
}

@media only screen and (max-width: 1200px) {
  .left-side img {
    width: 500px;
  }
  .right-side img {
    width: 500px;
  }
}
@media only screen and (max-width: 1020px) {
  .left-side img {
    width: 410px;
  }
  .right-side img {
    width: 410px;
  }
}

@media only screen and (max-width: 875px) {
  .right-side p {
    max-width: 95%;
    padding-left: 32px;
  }
  .aboutus1-container img {
  }
}

@media only screen and (max-width: 710px) {
  .about1-h1 h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 665px) {
  .aboutus1-container {
  }
}

@media only screen and (max-width: 510px) {
  .about1-h1 h1 {
    font-size: 32px;
  }
  /* .right-side img {
    left: 100px;
  } */
  .left-side img {
  }
}
