.supported-container {
  position: relative;
  background: url(../../assets/supportedby.jpg) no-repeat scroll center top
    transparent;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
}

.supported-container h1 {
  position: absolute;
  top: 84px;
}

.supported-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(192, 186, 186, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(1, 1, 1);
}

.central-band {
  height: 50vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
}

.central-band img {
  height: 90px;
}

@media screen and (max-height: 690px) {
  .supported-container h1 {
    font-size: 46px;
  }
}

@media (max-width: 1210px) {
  .central-band {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }
}

@media only screen and (max-width: 665px) {
  .central-band {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    height: fit-content;
    padding: 16px;
  }
  .central-band img {
    height: 80px;
  }
  .supported-container h1 {
    font-size: 38px;
    top: 34px;
  }
}
/* @media screen and (max-height: 450px) {
  .supported-container {
    height: 200vh;
  }
} */
