.card-container {
  width: 300px;
  text-align: center;
}

.card-container img {
  border-radius: 50%;
  height: auto;
  width: inherit;
  margin: 80px 0;
  width: 300px;
}
.card-container .card {
}

@media only screen and (max-width: 1160px) {
  .card-container {
    width: 250px;
  }
}

@media only screen and (max-width: 1010px) {
  .card-container {
    width: 200px;
  }
}

@media only screen and (max-width: 830px) {
  .card-container {
    width: 150px;
  }
}

@media only screen and (max-width: 665px) {
  .card-container {
    width: 60vw;
  }
}
