.team-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-cards-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.team-cards {
  width: 350px;
  text-align: center;
}

.team-cards img {
  height: auto;
  width: inherit;
  margin: 80px 0;
}

@media only screen and (max-width: 1160px) {
  .team-cards {
    width: 250px;
  }
}

@media only screen and (max-width: 1010px) {
  .team-cards {
    width: 200px;
  }
}

@media only screen and (max-width: 830px) {
  .team-cards {
    width: 150px;
  }
}

@media only screen and (max-width: 665px) {
  .team-cards-container {
    height: auto;
    flex-direction: column;
    padding: 64px 32px 64px 32px;
  }

  .team-cards {
    width: 60vw;
  }
}
