.ourwhy1-container {
  height: 100vh;
  background-color: #0a0b0e;
  display: flex;
  position: relative;
  align-items: center;
}

.ourwhy1-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.ourwhy1-left {
  background: url(../../assets/earth.png) no-repeat scroll center top
    transparent;
  height: 60vh;
  width: 50vw;
  overflow: hidden;
  background-size: contain;
  display: flex;
  flex-direction: column;
  background-position: center;
  justify-content: center;
}

.ourwhy1-left h2 {
  position: absolute;
  max-width: 70vw;
  font-size: 38px;
  z-index: 1;
  top: 70px;
  left: 64px;
}

.left-items1 {
  display: flex;
  max-width: 90%;
}

.ourwhy1-right h2 {
  position: absolute;
  max-width: 60vw;
  font-size: 38px;
  z-index: 1;
  bottom: 200px;
  right: 64px;
}

.ourwhy1-right {
  /* position: relative; */
  background: url(../../assets/background_economics.png) no-repeat scroll center
    top transparent;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
}

@media only screen and (max-width: 665px) {
  .ourwhy1-container h2 {
    font-size: 26px;
    max-width: 80vw;
  }
  .ourwhy1-left h2 {
    left: 32px;
  }
  .ourwhy1-right h2 {
    right: 16px;
  }
}

@media only screen and (max-width: 510px) {
  .ourwhy1-right h2,
  .ourwhy1-left h2 {
    text-align: center;
  }

  .ourwhy1-container {
    flex-direction: column;
  }

  .ourwhy1-container h2 {
    max-width: 100%;
  }
  .ourwhy1-right,
  .ourwhy1-left {
    height: 50vh;
    width: 100vw;
    padding: 24px;
  }
  .ourwhy1-right {
    justify-content: start;
  }
  .ourwhy1-left {
    justify-content: end;
  }
  .ourwhy1-right h2 {
    right: unset;
    position: unset;
  }
  .ourwhy1-left h2 {
    position: unset;
  }
}
