.footer {
  height: 50vh;
  background-color: rgb(1, 1, 1);
  display: flex;
  justify-content: center;
}
.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 90%;
}

.footer-logo {
  cursor: pointer;
}

.text-linkedin {
  display: flex;
  margin-bottom: 30px;
}

.text-linkedin p {
  display: flex;
  align-items: center;
}
.text-linkedin a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 40px;
}

@media only screen and (max-width: 528px) {
  .text-linkedin p {
    font-size: 18px;
  }
  .footer img {
    height: 100px;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 418px) {
  .text-linkedin p {
    font-size: 14px;
  }
  .copyright h5 {
    font-size: 12px;
  }
}
