.footer {
  height: 100vh;
  background-color: rgb(1, 1, 1);
  display: flex;
  justify-content: center;
}
.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-logo {
  cursor: pointer;
}

.text-linkedin {
  display: flex;
  margin-bottom: 30px;
}

.text-linkedin p {
  display: flex;
  align-items: center;
}
.text-linkedin a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 40px;
}

@media only screen and (max-width: 480px) {
  .footer {
    padding: 0;
  }

  .footer img {
    height: 160px;
  }
}
