:root {
  --primary: #d81e5b;
  --secondary: #8a4efc;
  --light: #eee;
  --light-alt: #61759b;
  --dark: #131a26;
  --dark-alt: #202b3e;
  --box-shadow: 0 0 30px rgba(116, 113, 113, 0.35);
  --transition: all 400ms ease;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 12px;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  font-size: 28px;
  color: var(--light);
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 12px;
  border-radius: var(--border-radius);
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: var(--transition);
}

button:hover {
  background-color: var(--secondary);
  /* background-image: linear-gradient(to bottom, #cd587f, #a175f1); */
}

.spacer {
  height: 100px;
}
