@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600&display=swap");

:root {
  --primary: #d81e5b;
  --secondary: #8a4efc;
  --light: #eee;
  --light-alt: #dfe0e2;
  --dark: #131a26;
  --dark-alt: #202b3e;
  --box-shadow: 0 0 30px rgba(116, 113, 113, 0.35);
  --transition: all 400ms ease;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

.App {
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
/*   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

body {
  background-color: rgb(0, 0, 0);
  color: var(--light);
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 24px;
  font-weight: 300;
  /* color: var(--light-alt); */
}

a {
  font-size: 28px;
  color: var(--light);
}

.spacer {
  height: 90px;
}

@media only screen and (max-width: 731px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 20px;
  }
}
