.nav {
  width: 100%;
  height: 90px;
  padding: 0 32px;
  background-color: rgb(1, 1, 1);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  z-index: 2;
}

.nav img {
  height: 90px;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 12px;
  cursor: pointer;
}

.links {
  display: flex;
  position: absolute;
  right: 32px;
}

.nav h3 {
  margin-left: 32px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 769px) {
  .menu-icon {
    display: block;
    font-size: 48px;
  }

  .nav h3 {
    margin-left: 12px;
    margin-bottom: 18px;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(1, 1, 1);
    padding: 32px 16px 16px 16px;
    transition: var(--transition);
    z-index: 1;
  }

  .links.open {
    display: flex;
    background-color: rgba(2, 2, 2, 0.85);
  }
}
