.banner-container {
  position: relative;
  background: url(../../assets/banner.png) no-repeat scroll center top
    transparent;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
}

.banner-content {
  position: absolute;
  top: 30vh;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.banner-logo {
  height: 200px;
  width: 200px;
}

.banner-content h1 {
  font-size: 46px;
  margin-top: 16px;
}

.banner-img {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
@media only screen and (max-width: 480px) {
  .banner-img {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}
