.banner-container {
  position: relative;
  background: url(../../assets/bannerNew.jpg) no-repeat scroll center top
    transparent;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  z-index: 1;
  width: 80vw;
}

.banner-content h1 {
  margin-bottom: 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 480px) {
  .banner-img {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

@media screen and (max-height: 690px) {
  .banner-container h1 {
    font-size: 46px;
  }
}
